{% extends 'base.html'%}

{% block content %}

<main class="container py-5">
    <section class="card card-body">

        <h1 class="display-1 text-center">Django App</h1>
        <br>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus quas maxime blanditiis eaque voluptatum eius sint vero? Facere aliquam officia iste, ab omnis modi impedit maxime adipisci non quo laudantium aspernatur praesentium possimus, odit doloribus similique delectus in autem illo alias molestias numquam consequuntur. Odit accusantium cumque placeat laudantium molestiae, a aut nulla, voluptas porro fugiat aliquam hic voluptate magnam veritatis vel perspiciatis ullam asperiores quisquam eveniet unde? In consequatur enim facilis dolorem modi fugit expedita saepe omnis, at dolore odit voluptas corporis repellat explicabo quaerat optio, rem neque provident repellendus recusandae sint aliquam, vitae magnam! Commodi, aspernatur! Non, similique!</p>

        <div class="text-center">
            <a href="/signin/" class="btn btn-secondary">
                Signin
            </a>
            <a href="/signup/" class="btn btn-dark">
                Signup
            </a>
        </div>
    
    </section>
    
</main>

{% endblock %}